.layout__content {
  grid-area: content;
  background-color: #1b1b1f;
  width: 100vw;

  .content__wrapper {
    text-align: left;
    white-space: normal;
    font-weight: 400;
    padding-block: 1rem;
    padding-inline: 1rem;

    @media only screen and (min-width: 768px) {
      padding-inline: 6rem;
      padding-block: 2rem;
    }

    .content__section {
      margin: auto;
      max-width: 80ch;
      font-size: 1rem;

      .section__item {
        margin: 0 0 12px;

        &h1, &h2, &h3 {
          font-weight: 700;
          display: block;
        }

        &h1 {
          font-size: 2rem;
        }

        &h2 {
          font-size: 1.8rem;
        }

        &h3 {
          font-size: 1.6rem;
        }
      }
      .section__code-fragment {
        display: inline-block;
        color: rgb(134, 141, 154);
        background-color: rgb(40, 42, 54);
        padding: 2px 4px;
        font-family: Consolas, "Lucida Console", Menlo, Monaco, monospace;
      }

      .code__wrapper {
        overflow-x: auto;
      }
    }
  }
}