.layout__header {
  grid-area: header;
  background-color: #1b1b1f;
  border-bottom: 0.12rem solid #0d0d10;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: fit-content;
  min-height: fit-content;
  --gap: calc(min(7vw, 3.7rem));
  gap: var(--gap);
  --padding: 0.4rem;
  padding-block-start: var(--padding);
  padding-block-end: var(--padding);
  position: relative;

  @media only screen and (min-width: 900px) {
    --gap: 3.7rem;
    --padding: 0;
  }

  .header__title {
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    font-weight: 700;
    letter-spacing: 1px;

    @media only screen and (min-width: 900px) {
      font-size: 1.8rem;
    }
    

    .header__title--effect {
      background: linear-gradient(90deg, #5c62b8, #b94ba9);
      background-clip: text;
      position: relative;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      color: transparent;
      text-align: right;
      display: inline-block;
      white-space: nowrap;
      min-width: 17.7ch;

      .header__caret {
        display: inline-block;
        top: 23%;
        position: absolute;
        width: 2px;          
        height: 0.9em;         
        background-color: #b94ba9;
        animation: blink-caret 0.6s step-start 0s 4;
        margin-left: 3px;
      }
    }
  }

  .header__icon {
    margin-inline-start: calc(0.5 * var(--gap));
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: filter 0.2s ease;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: calc(-0.5 * var(--gap));
      width: 2px;
      height: calc(100% + 2 * var(--padding));
      background: rgba(125, 115, 115, 0.244);

      @media only screen and (min-width: 900px) {
        height: 100%;
      }
    }

    &:active {
      filter: brightness(1.2);
    }

    @media only screen and (min-width: 900px) {
      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }
    }
  }

  .header__navigation-menu {
    position: absolute;
    background-color: grey;
    display: block;
    top: 40rem;
    width: 100vw;
    height: 10rem;
  }
}

@keyframes blink-caret {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}
