body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: rgb(223, 223, 214)
}

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #181A20;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: min(15rem, 20vw) 1fr;
  grid-template-rows: 7vh 1fr 7vh;
  transition: grid-template-columns 0.3s ease-in-out;
}

.layout--collapsed {
  grid-template-columns: 0 1fr;
}