body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: rgb(223, 223, 214);
  font-weight: 400;
  height: 100%;
  width: 100%;
  color-scheme: light dark;
  --mode: dark;

  @media (prefers-color-scheme: light) {
    --mode: light;
  }
}

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #181A20;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  transition: grid-template-columns 0.3s ease-in-out;
  overflow: hidden;


  .layout__sidebar {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
    grid-template-columns: min(14rem, 25vw) 1fr;
    grid-template-rows: 4rem 1fr 4rem;

    .layout__sidebar {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .layout--collapsed {
    grid-template-columns: 0 1fr;
  }
}