body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: rgb(223, 223, 214)
}

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #181A20;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: min(15rem, 20vw) 1fr;
  grid-template-rows: 7vh 1fr 7vh;
  transition: grid-template-columns 0.3s ease-in-out;
}

.layout--collapsed {
  grid-template-columns: 0 1fr;
}

.layout__header {
  grid-area: header;
  background-color: #1b1b1f;
  border-bottom: 0.12rem solid #0d0d10;
  display: flex;
  align-items: center;
  gap: 5rem;

  .header__title {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;

    .header__title--effect {
      background: linear-gradient(90deg, #5c62b8, #b94ba9);
      background-clip: text;
      position: relative;
      -webkit-background-clip: text;
      color: transparent;
      text-align: right;
      display: inline-block;
      white-space: nowrap;
      min-width: 18ch;

      .header__caret {
        display: inline-block;
        vertical-align: middle;
        width: 2px;          
        height: 0.9em;         
        background-color: #b94ba9;
        animation: blink-caret 0.8s step-start 0s 3;
        margin-left: 3px;
      }
    }
  }

  .header__brightness {
    margin-inline-start: 1.85rem;
  }
}

@keyframes blink-caret {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.layout__sidebar {
  grid-area: sidebar;
  position: sticky;
  background-color: #161618;
  box-shadow: 0.1rem 0 0.5rem rgba(0, 0, 0, 0.5);

  .sidebar__button {
    position: absolute;
    cursor: pointer;
    right: -4rem;
    top: 1rem;
    padding: 0.7rem;
    border-radius: 20rem;
    background-color: transparent;;

    &:hover {
      background-color: rgba(125, 115, 115, 0.131);
    }
  }
}

.layout__content {
  grid-area: content;
  background-color: #1b1b1f;
}

.layout__footer {
  grid-area: footer;
  background-color: #1b1b1f;
  border-top: 0.15rem solid #0d0d10;
}
