/* Josh Comeau reset https://www.joshwcomeau.com/css/custom-css-reset/ 
  modified with my own changes */

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  all: unset;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  all: unset;
}

p {
  text-wrap: pretty;
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
x
#root, #__next {
  isolation: isolate;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}