.layout__sidebar {
  grid-area: sidebar;
  height: 100vh;
  position: sticky;
  background-color: var(--background-color-secondary);
  box-shadow: 0.1rem 0 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 3;
  top: 0;
}

.sidebar__button {
  position: absolute;
  cursor: pointer;
  right: -3.7rem;
  top: 1rem;
  padding: 0.7rem;
  border-radius: 20rem;
  background-color: transparent;
  filter: brightness(var(--filter));
}

.layout__sidebar .sidebar__button:active {
  background-color: var(--background-color-hover);
}

@media only screen and (min-width: 768px) {
  .layout__sidebar .sidebar__button:hover {
    background-color: var(--background-color-hover);
  }
}

@media only screen and (min-width: 805px) {
  .sidebar__button {
    right: -4.1rem;
  }
}

.sidebar__navigation-wrapper {
  position: relative;
  color: var(--font-color-secondary);
  overflow: hidden;
  min-height: fit-content;
  margin-inline-start: 2rem;
  margin-block-start: 2rem;
}

.sidebar__navigation-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  text-align: start;
}

.sidebar__item--section {
  font-weight: 700;
  font-size: 1.1rem;
}

.sidebar__item--subsection {
  color: var(--font-color-tertiary);
}

.sidebar__item--section,
.sidebar__item--subsection {
  display: block;
  height: 1.5rem;
  position: relative;
}

.sidebar__item--section::after,
.sidebar__item--subsection::after {
  content: attr(data-text); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(90deg, #bd93f9, #ff79c6);
  background-size: 200% 100%;
  background-position: 0% 0;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;       
  pointer-events: none;   
  transition: opacity 0.15s ease-in;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .sidebar__item--section:hover::after,
  .sidebar__item--subsection:hover::after {
    opacity: 1;
  }
}

.sidebar__effect-container,
.sidebar__effect {
  width: 2px;
  right: 10%;
}

.sidebar__effect-container {
  position: absolute;
  background-color: var(--accent-color-main);
  height: 100%;
}

.sidebar__effect {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: var(--accent-color-tertiary);
  border-radius: 10rem;
  z-index: 2;
  transition: transform 0.2s ease, height 0.1s ease, opacity 0.3s ease;
}

.layout--collapsed .sidebar__navigation-list {
  transform: translateX(-7rem);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}
